/*
	Theme variables
*/
/* font */
$default_font:								'Roboto', sans-serif;
$default_font2:								'Poppins', sans-serif;
$default_font_icon:							'sanitizex';
/* default */
$default_bg_color:							#ffffff;
$default_text_color:						#7b7b7b;
$default_color:								#6984c2;
$default_color02:							#323232;
$default_color03:							#f1f3f5;

$link_color_base:							$default_color;
$speed:										0.2s;
$border:									#f1f3f5;
$radius:									4px;

